.contacts-info {
    padding-left: 17px;
    padding-right: 17px;

    &__back {
        overflow: hidden;
        width: 100%;
        padding: 80px;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

    }  

    @media (max-width: 768px) {
        .contacts-info__back {
            padding: 18px;
        }
    }

    &__form h4 {
        margin-bottom: 20px;
    }

    &__map {
        border-radius: 18px;
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        .contacts-info__map {
            padding-top: 5px;
            padding-bottom: 15px;
            height: 300px;
            width: 100%;
        }

        .contacts-info__form h4 {
            margin-top: 10px; 
        }

        .contacts-info__form {
            font-size: 14px;

        }

        .contacts-info__contact {
            display: none;
        }

        .contacts-info__btn {
            color: $color-white;
            margin-bottom: 30px;
            text-decoration: none;
        }   
    }

    &__input {
        border-radius: 20px;
        background-color: $color-gray-3;
        border: 2px solid $color-gray;
        color: $color-black-2;
        font-size: 14px;
        padding: 20px;
        height: 28px;
    }

    &__btn {
        background-color: $color-green;
        border-radius: 25px;
        color: $color-white;
        font-size: 15px;
        font-weight: 600;
        line-height: 14px;
        padding: 14px 28px;
        text-decoration: none;
    }

    &__contact div {
        color: $color-black-2;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }

}