.delivery{
    padding-left: 17px;
    padding-right: 17px;

    .delivery-back {
        overflow: hidden;
        width: 100%;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    }

    &__info h2 {
        color: $color-black-2;
        font-size: 32px;
        font-weight:400;
        line-height: 40px;
        margin-bottom: 20px;
    }


    &__info p {
        color: $color-black-2;
        font-size: 14px;
        font-weight:400;
        line-height: 24px;
        margin-bottom: 20px;
    }


    &__info h3 {
        color: $color-black-2;
        font-size: 28px;
        font-weight:400;
        line-height: 36px;
        margin-bottom: 20px;
    }

    &__info h4 {
        color: $color-black-2;
        font-size: 24px;
        font-weight:400;
        line-height: 32px;
        margin-bottom: 20px;
    }


    &__info-list {
        color: $color-black-2;
        font-size: 14px;
        font-weight:400;
        line-height: 24px;
        margin-bottom: 20px;
    }

    &__questions {
        border: 2px solid $color-gray;
        border-radius: 16px;
        padding: 40px;
        width: 270px;

        h5 {
           font-size: 17px; 
           margin-bottom: 30px;
        }
    }

    &__btn {
        background-color: $color-green;
        border-radius: 25px;
        color: $color-white;
        font-size: 15px;
        font-weight: 600;
        line-height: 14px;
        padding: 14px 28px;
        text-decoration: none;

        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }

}

@media (max-width: 768px) {
    .delivery-back {
        padding: 5px;
    }

    .delivery__info {
        padding-left: 15px;
        padding-right: 10px;
    }

    .delivery__info h2 {
        font-size: 28px;
        margin-top: -40px;
       padding-left: 10px;
    }

    .delivery__info h3 {
        color: $color-black-2;
        font-size: 22px;
    }

    .delivery__info h4 {
        font-size: 22px;
    }

    .delivery__info p {
       max-Width: 100%;
       font-size: 15px;
    }

    .delivery__questions {
        margin-left: 40px;
        margin-bottom: 30px;
    }
}


    


   


