.elastic-toys {
    padding-top: 30px;

    &__title {
        color: $color-green;
    }

    &__image {
        border-radius: 16px;
        background-color: transparent;
        overflow: hidden;
        height: 180px;
        margin-right: 0px;
        margin-left: 0px;
        vertical-align: middle;
    }

    &__btn {
        background-color: $color-green;
        border-radius: 25px;
        color: $color-white;
        font-size: 15px;
        font-weight: 600;
        line-height: 14px;
        padding: 15px 32px;
        text-decoration: none;

        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }

    
}

@media (max-width: 768px) {
    .elastic-toys__image {
        border-radius: 12px;
        height: 110px;
        margin-top: 10px;
    }

}