.header {
    background-color: $color-white;
    height: 75px;
    padding: 15px 0;

    &__logo {
        color: $color-black-1;
        font-weight: 400;
        font-size: 23px;
  

        &:hover {
            color: $color-black-1;
            text-decoration: none;
        }
    }

    &__menu {
        color: $color-black-2;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 10px;

        &:hover {
            color: $color-black-2;
        }

        @media (max-width: 768px) {
            display: none;

            .active-mobile & {
                background: $color-white;
                border-bottom: 1px solid $color-green;
                display: block;
                width: 100vw;
                left: -25px;
                position: relative;
                padding: 5px 20px;
            }
        }

        &--cart {
            img {
                margin-top: -4px;
                margin-left: 8px;
                margin-right: 8px;
            }

            span {
                background-color: $color-green;
                border-radius: 50%;
                color: $color-white;
                display: inline-block;
                text-align: center;
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-size: 10px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    .hamburger {
        font-size: 2rem;
        position: relative;
        top: 2px;
    }

}







