$font-family: 'Varela Round', sans-serif;

$color-black: #000;
$color-black-1: #333333;
$color-black-2: #111111;
$color-black-3: #878787;
$color-white: #fff;
$color-green: #5506b1;
$color-yellow: #ffc12c;
$color-pink: #fb416b;
$color-gray: #e5e5e5;
$color-gray-1: #f8f8f8;
$color-gray-2: #999999;
$color-gray-3: #f8f8f8;


